.carousel-item {
    display: flex;
    flex-direction: column;
    position: relative;
}

.details {
    background-image: linear-gradient(to left, rgb(0, 0, 0, 0), rgba(0, 0, 0, 0.863) 70%, rgb(0, 0, 0, 1));
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    height: 100%;
    width: 70%;
    justify-content: center;
    align-items: start;
    /* padding-right: 100px; */
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1px;
}

.release-date {
    color: darkgrey;
    margin-bottom: 10px;
    /* font-size: 1.2rem; */
}

.rating {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.fa-star {
    color: gold;
    margin-left: 3px;
}

.overview {
    width: 50%;
    font-size: 0.8rem;
    text-align: left;
}

.carousel-item {
    text-decoration: none;
}