.card {
    width: 200px;
    height: 300px;
    margin: 5px;
    position: relative;
    transition: all 0.6s;
}


.card-image {
    max-width: 100%;
    max-height: 100%;
}

.card:hover {
    transform: scale(1.03);
}

.movie-info {
    padding-top: 10%;
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 0.863) 40%, rgb(0, 0, 0, 1));
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85rem;
    position: absolute;
    bottom: 0px;
    display: none;
    /* transition: all 0.2s; */
}

.card:hover .movie-info {
    display: block;
}

.movie-title {
    font-weight: 600;
}

.movie-overview {
    font-size: 0.7rem;
}