.navBar {
    display: flex;
    /* position: fixed; */
    align-items: center;
    /* gap: 30px; */
    margin-bottom: 2%;
    margin-top: 1%;
}

.navLink {
    text-decoration: none;
    margin: 10px;
    margin-left: 30px;
    color: white;
    font-size: 1.1rem;
    transition: all 0.2s;
}

.links {
    display: flex;
    margin-left: auto;
    gap: 30px;
    margin-right: 50px;
}

.navImage {
    width: 180px;
    height: auto;
    margin: 0px;
}

.navLink:hover {
    color: #f5cb5c;
}


@media (max-width: 768px) {

    /* .links {
        flex-direction: column;
    } */
    .navLink {
        margin: 10px;
        margin-left: 20px;
    }

    .navLink span {
        display: none;
    }
}
